@import '../scss/variable';

/** contents */
#mySkills,
#myWorks {
  margin-top: 8rem;
}


/** skills list */
%circle {
  background: #999;
  color: #333;
  border-radius: 100%;
  width: 10rem;
  height: 10rem;
  text-align: center;
  line-height: 10rem;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

.skillOpen {
  display: none;
}

.skills {
  box-sizing: border-box;
  font-size: 6rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skillItems {
  @extend %circle;

  margin: 4rem 3rem;

  &:hover {
    background: $light;
    transition: all 1s;
  }
}

.svgIcon {
  width: 5rem;
  height: 100%;
  fill: #333;
}

#muiIcon {
  width: 4rem;
}

.html {
  &:hover {
    color: $html;
  }
}

.css {
  &:hover{
    color: $css;
  }
}

.sass {
  &:hover{
    color: $sass;
  }
}

.js {
  &:hover {
    color: $js;
  }
}

.react {
  &:hover {
    color: $react;
  }
}

.redux {
  &:hover {
    #reduxIcon {
      fill: $redux;
      transition: all 1s;
    }
  }
}

.git {
  &:hover {
    color: $git;
  }
}

.illustrator {
  &:hover {
    color: $illustrator;
  }
}

.firebase {
  &:hover {
    #firebaseIcon {
      fill: $firebase;
      transition: all 1s;
    }
  }
}

.nodejs {
  &:hover {
    color: $nodejs
  }
}

.solving {
  &:hover {
    color: $solving
  }
}

.figma {
  &:hover {
    color: $figma
  }
}

.responsive {
  &:hover {
    color: $responsive
  }
}

.mui {
  &:hover {
    #muiIcon {
      fill: $mui;
      transition: all 1s;
    }
  }
}

.hospitality {
  &:hover {
    color: $hospitality
  }
}


/** tooltip */
.tooltip {
  display: inline-block;
}

.tooltipText {
  line-height: 4rem;
  font-size: 1.5rem;
}

.tooltip .tooltipText {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
  line-height: 1.5rem;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip .tooltipText::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  border: 1rem solid transparent;
  transform: translate(-50%, -100%);
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

#html {
  background-color: $html;
  &::after {
    border-bottom-color: $html;
  }
}

#css {
  background-color: $css;
  &::after {
    border-bottom-color: $css;
  }
}

#sass {
  background-color: $sass;
  &::after {
    border-bottom-color: $sass;
  }
}

#js {
  background-color: $js;
  color: $dark;
  &::after {
    border-bottom-color: $js;
  }
}

#react {
  background-color: $react;
  color: $dark;
  &::after {
    border-bottom-color: $react;
  }
}

#redux {
  background-color: $redux;
  &::after {
    border-bottom-color: $redux;
  }
}

#git {
  background-color: $git;
  &::after {
    border-bottom-color: $git;
  }
}

#illustrator {
  background-color: $illustrator;
  color: $dark;
  &::after {
    border-bottom-color: $illustrator;
  }
}

#firebase {
  background-color: $firebase;
  color: $dark;
  &::after {
    border-bottom-color: $firebase;
  }
}

#solving {
  background-color: $solving;
  color: $dark;
  &::after {
    border-bottom-color: $solving;
  }
}

#nodejs {
  background-color: $nodejs;
  &::after {
    border-bottom-color: $nodejs;
  }
}

#figma {
  background-color: $figma;
  color: $dark;
  &::after {
    border-bottom-color: $figma;
  }
}

#mui {
  background-color: $mui;
  color: $dark;
  &::after {
    border-bottom-color: $mui;
  }
}

#responsive {
  background-color: $responsive;
  &::after {
    border-bottom-color: $responsive;
  }
}

#hospitality {
  background-color: $hospitality;
  &::after {
    border-bottom-color: $hospitality;
  }
}


/** project */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projectItems {
  position: relative;
  min-width: 30rem;
  height: 20rem;
  background-color: $tomato;
  margin: 2.5rem 1rem;
  // cursor: pointer;
  cursor: not-allowed;
  
  .projectImages {
    width: 30rem;
    height: 20rem;
    background-image: url(../../resources//piggy.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $dark;
    background-size: 20rem 20rem;
  }

  #game21Img {
    background-image: $bjImage;
    background-size: 30rem 20rem;
  }

  #schedulerImg {
    background-image: $scheduleImage;
    background-size: 30rem 20rem;
  }

  #jsPortfolioImg {
    background-image: $portfolioImage;
    background-size: 30rem 20rem;
  }

  #octcatImg {
    background-image: $octcatImg;
    background-size: 20rem 20rem;
  }

  .projectDescription{
    text-align: center;
    color: $light;
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    h6 {
      border-bottom: .2rem solid;
    }
  }

  &:hover {
    img, .projectImages {
      opacity: .5;
      transition: all .5s;
      filter: blur(.2rem);
    }
    .projectDescription {
      opacity: 1;
    }
  }
}


/** responsive */
@media screen and (max-width: 640px) {
  %circle {
    width: 7rem;
    height: 7rem;
    line-height: 7rem;
    font-size: 3rem;
  }
  #mySkills,
  #myWorks {
    text-align: center;
  }
  .skills {
    font-size: 10rem;
  }
  .skillItems {
    margin-top: 7rem;
    left: 5vw;
  }
  .svgLogos {
    width: 3rem;
    height: 3rem;
    height: 100%;
  }
}


