@import '../scss/variable';

/** variable */
$list-items: 5;


/** contents */
#webSkills,
#otherSkills {
  margin-top: 5rem;
}


/** skills list */
%circle {
  background: #999;
  color: #333;
  border-radius: 100%;
  width: 7rem;
  height: 7rem;
  position: absolute;
  text-align: center;
  line-height: 7rem;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

@mixin hoverAction {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration: 200ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
}

.skillOpen {
  display: none;
}

.skills {
  height: 7rem;
  box-sizing: border-box;
  font-size: 4.5rem;
  position: relative;
}

.list-item {
  @extend %circle;

  &:hover {
    background: white;
    transition: all 2s;
  }

  @for $i from 1 through $list-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 180ms;
    }
  }
}

.skillOpenBtn {
  @extend %circle;
  @include hoverAction;
  z-index: 2;
}

.skillOpenBtn:hover {
  background: white;
  color: $tomato;
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.skillOpen:checked+.skillOpenBtn {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.skillOpen:checked~.list-item {
  transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  @for $i from 1 through $list-items{
    &:nth-child(#{$i + 2}) {
      transition-duration: 90ms + (100ms * $i);
      transform: translate3d(12rem * $i, 0, 0);
    }
  }
}

.html {
  &:hover {
    color: $html;
  }
}

.css {
  &:hover{
    color: $css;
  }
}

.sass {
  &:hover{
    color: $sass;
  }
}

.js {
  &:hover {
    color: $js;
  }
}

.react {
  &:hover {
    color: $react;
  }
}

.git {
  &:hover {
    color: $git;
  }
}

.illustrator {
  &:hover {
    color: $illustrator;
  }
}

.firebase {
  &:hover {
    color: $firebase;
  }
}

.nodejs {
  &:hover {
    color: $nodejs
  }
}

.solving {
  &:hover {
    color: $solving
  }
}


/** tooltip */
.tooltip {
  display: inline-block;
}

.tooltipText {
  line-height: 4rem;
  font-size: 1.5rem;
}

.tooltip .tooltipText {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
  line-height: 1.5rem;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip .tooltipText::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  border: 0.8rem solid transparent;
  border-bottom: 0.8rem solid black;
  transform: translate(-50%, -100%);
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

#html {
  background-color: $html;
  &::after {
    border-bottom-color: $html;
  }
}

#css {
  background-color: $css;
  &::after {
    border-bottom-color: $css;
  }
}

#sass {
  background-color: $sass;
  &::after {
    border-bottom-color: $sass;
  }
}

#js {
  background-color: $js;
  color: $dark;
  &::after {
    border-bottom-color: $js;
  }
}

#react {
  background-color: $react;
  color: $dark;
  &::after {
    border-bottom-color: $react;
  }
}

#git {
  background-color: $git;
  &::after {
    border-bottom-color: $git;
  }
}

#illustrator {
  background-color: $illustrator;
  color: $dark;
  &::after {
    border-bottom-color: $illustrator;
  }
}

#firebase {
  background-color: $firebase;
  color: $dark;
  &::after {
    border-bottom-color: $firebase;
  }
}

#solving {
  background-color: $solving;
  color: $dark;
  &::after {
    border-bottom-color: $solving;
  }
}

#nodejs {
  background-color: $nodejs;
  &::after {
    border-bottom-color: $nodejs;
  }
}


/** github link */
.githubLink {
  bottom: 5rem;
}

.github {
  background: transparent;
  color: #999;
  font-size: 7rem;
  border-radius: 100%;
  width: 7rem;
  height: 7rem;
  line-height: 7rem;
  
  &:hover {
    @include hoverAction;
    color: $github;
  }
}


/** responsive */
@media screen and (max-width: 640px) {
  %circle {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2.5rem;
  }
  #webSkills,
  #otherSkills {
    text-align: center;
  }
  .skills {
    font-size: 10rem;
    height: 12rem;
    transform: translateX(-2.5rem);
  }
  .list-item {
    margin-top: 7rem;
    left: 5vw;
    opacity: 0;
  }
  .skillOpen:checked~.list-item {
    @for $i from 0 through $list-items{
      &:nth-child(#{$i + 3}) {
        transform: translate3d(6rem * $i, 0, 0);
      }
    }
    opacity: 1;
  }
}


