@import '../scss/variable';

.modal-nav {
  height: $modalNavHeight;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  padding: 0 2.5%;
  z-index: 10;
	
	.logo {
    float: left;
    font-size: 3rem;
    line-height: $modalNavHeight;
    position: absolute;
	}

	.close-link{
		color: $light;
		float: right;
		font-size: 2rem;
		line-height: $modalNavHeight;
		padding-right: 1rem;
		vertical-align: middle;
		text-decoration: none;
		transition: all 800ms;	
		cursor: pointer;
		
		&:hover {
			color: $tomato;
		}
	}		
}

.close-icon {
	vertical-align: middle;
	margin-left: 0.3rem;
	margin-bottom: 0.3rem;
}

.backToSkills {
  color: $light;
  font-size: 2.3rem;
  line-height: $modalNavHeight;
  text-decoration: none;
  cursor: pointer;
}

.projectFooter {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  margin-bottom: 2rem;
}

.arrowPrev {
  position: absolute;
  left: 2.5%;

}
.arrowNext {
  position: absolute;
  right: 2.5%;
}

.footerIcons {
  margin: 0 1rem;
}
