@import '../scss/variable';

.modal-nav {
	height: $modalNavHeight;
	width: 95%;
	margin: 0 auto;
	position: relative;
	
	.logo {
		float: left;
		font-size: 3rem;
		line-height: 5rem;
		position: absolute;
	}

	.close-link{
		color: $light;
		float: right;
		font-size: 2rem;
		line-height: 5rem;
		padding-right: 1rem;
		vertical-align: middle;
		text-decoration: none;
		transition: all 800ms;	
		cursor: pointer;
		
		&:hover {
			color: $tomato;
		}
	}		
}

.close-icon {
	vertical-align: middle;
	margin-left: 0.3rem;
	padding-bottom: 0.1rem;
}
