@import '../scss/variable';

.introWrapper {
  top: 5rem;
  p {
    width: 45vw;
  }
}

.hobbyWrapper {
  bottom: 5rem;
  text-align: right;
}

.icons {
  font-size: 5rem; 
  margin: 2rem 2rem 0 0;
}


/** responsive */
@media screen and (max-width: 640px) {
  .introWrapper {
    text-align: center;
    margin-bottom: 7rem;
    p {
      width: 80vw;
    }
  }
  .hobbyWrapper {
    text-align: center;
  }
  .icons {
    font-size: 6rem; 
  }
}