@import '../scss/variable';

.nameWrapper {
  text-align: right;
  bottom: 5rem;
}

#myName {
  font-size: 14rem; 
  line-height: 5rem;
  margin-bottom: 0;
  cursor: pointer;
}

.linkWrapper {
  text-decoration: none;
  list-style-type: none;
  top: 8rem;
}

.links {
  color: $light;
  font-size: 2rem;
  text-decoration: none;
  transition: all 800ms ease;

  &::after {
    content: ' ';
    height: 1px;
    width: 0%;
    background-color: $tomato;
    display: block;
  }

	&:hover {
    color: $tomato;
    &::after {
      width: 100%;
      transition: width 500ms ease;
    }
	}
}


/** responsive */
@media screen and (max-width: 640px) {
  #myPosition {
    font-size: 4rem;
  }
  .linkWrapper {
    margin-top: 8rem;
  }
  .links {
    font-size: 2.5rem;
  }
}
