@import '../scss/variable';

.social-icon {
  font-size: 5rem; 
  margin: 2rem;
  color: white;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
    opacity: 1;
    transition: all 500ms; 
  }
}

.linkedIn:hover {
  color: $linkedIn;
}

.instagram:hover {
  color: $instagram;
}

.envelope:hover {
  color: #D44638;
}

