@import url('https://fonts.googleapis.com/css?family=Quantico|Share+Tech+Mono|Ravi+Prakash&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Quantico', sans-serif;
  font-size: 62.5%;
	margin: 0;
  padding: 0; 
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  font-size: 2rem;
  color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


.font-accent {
  font-family: 'Ravi Prakash', cursive;
}

.font-simple {
  font-family: 'Share Tech Mono', monospace;
}

h1 {
  font-size: 6.5rem;
  margin-bottom: 5rem;
}

h2 {
  font-size: 5.5rem;
  margin-bottom: 4.8rem;
}

h3 {
  font-size: 4.5rem;
  margin-bottom: 4rem;
}

h4 {
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

h5 {
  font-size: 2.8rem;
  margin-bottom: 2.3rem;
}

h6 {
  font-size: 2.4rem;
  margin-bottom: 1.9rem;
}

p {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

/** responsive */
@media screen and (max-width: 640px) {
  * {
    font-size: calc(100vw / 45);
  }
}
