/** colors */
$tomato: #FF6347;
$dark: #222;
$gray: #444;
$light: #EEE;
$linkedIn: #0077B5;
$instagram: #D6249F;
$instagram-grad: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

$html: #E44D26;
$css: #2965F1;
$sass: #CD6799;
$js: #F0Db4F;
$react: #61DBFB;
$redux: #764ABC;
$mui: #00B0FF;
$responsive: #a94db4;

$git: #F1502F;
$github: #A94BD4;
$github-grad: linear-gradient(0deg, #4C277A 0%, #A94BD4 100%);
$firebase: #FFCD04;
$nodejs: #68A063;
$illustrator: #FF7C00;
$solving: #49ee43;
$figma: #0ACF83;
$hospitality: #F38630;


/** value */
$modalNavHeight: 5rem;


/** images */
$portfolioImage: url(../../resources//projects/portfolio-topPage.png);
$bjImage: url(../../resources/projects/bj-topPage.png);
$scheduleImage: url(../../resources/projects/scheduler-topPage.png);
$octcatImg: url(../../resources/projects/octcat.png);